
header{
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
}
.texte-sur-image{
    background-image: url("./img/3.jpg");
}
.color-green{
    color:#71d1d3;
}
.color-blue{
    color:#0c2e8a;
}